
@{
    ViewData["Title"] = "Draw";
}

<div class="text-center">
    <canvas class="border bg-white" id="canvas"></canvas>
</div>
<br />
<br />

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myColorSizeSlider">
                    <p>Value: <span id="demo"></span></p>
                </div>                
            </div>
            <div class="col-md-6">
                <div class="color-slider-wrap">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="color-sliders">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div>
                                            <label for="red" hidden>Red</label>
                                            <input type="number" id="redNum" hidden>
                                            <input value="200" type="range" min="0" max="255" id="red">
                                        </div>                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            <label for="green" hidden>Green</label>
                                            <input type="number" id="greenNum" hidden>
                                            <input value="130" type="range" min="0" max="255" id="green">
                                        </div>                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            <label for="blue" hidden>Blue</label>
                                            <input type="number" id="blueNum" hidden>
                                            <input value="180" type="range" min="0" max="255" id="blue">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 text-right">
                            <div class="color-wrap">
                                <div id="color-display"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <a id="linkSave" class="btn btn-round bg-secondary text-white">Save</a>
                <a class="btn btn-round bg-dark text-white" asp-area="" asp-controller="Canvas" asp-action="Draw">Reset</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />

@section Scripts {
    <script src="~/js/canvas.js"></script>
}
