@model PTSchool.Web.Models.Class.CollectionClassesLightViewModels

<partial name="_PageNavigatorPartial" model="@Model" />

<div>
    <div class="row">
        @foreach (var classById in Model.Classes)
        {
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="card-header">
                        <p class="card-title">@classById.Name</p>
                    </div>
                    <div class="card-body">
                        <a href="@Url.Action("Class", "Classes", new { id = classById.Id })"><img src="@classById.Image" class="img-circle-sm" /></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />