@model PTSchool.Web.Models.Subject.CollectionSubjectsFullViewModels

<partial name="_PageNavigatorPartial" model="@Model" />

<div>
    <div class="row">
        @foreach (var subject in Model.Subjects)
        {
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="card-header">
                        <p class="card-category">@subject.Name</p>
                    </div>
                    <div class="card-body">
                        <a href="@Url.Action("Subject", "Subjects", new { id = subject.Id })"><img src="@subject.Image" class="img-circle-sm" /></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />