@model PTSchool.Web.Models.Abstracts.BaseEntity

<div class="text-center border border-dark p-2">
    @*<p>@Model.Id</p>*@
    <p>@Model.Name</p>
    <img src="@Model.Image" class="img-circle-sm" />
    <p class="text-center">@Model.Description</p>
</div>