@model PTSchool.Web.Models.Abstracts.BaseEntity

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Model.Name</h5>
    </div>
    <div class="card-body text-center">
        <img src="@Model.Image" class="img-circle-sm" />
        <br />
        <br />
        <blockquote>
            <p class="text-center blockquote blockquote-primary">@Model.Description</p>
        </blockquote>
    </div>
</div>