<div class="card">
    <div class="card-header">
        <h5 class="card-title">404</h5>
        <p class="card-category">The page you are trying to access does not exist...</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <input type="image" onclick="window.location='@Url.Action("Index", "Home")'" src="https://i.pinimg.com/originals/24/37/8d/24378d3680edd2ee5532f19530608fe5.gif" alt="ERROR_404" style="width:20%" />
                <hr />
                <a class="btn btn-lg btn-round btn-danger text-white" onclick="window.location='@Url.Action("Index", "Home")'"><i class="nc-icon nc-minimal-left"></i> BACK</a>
            </div>
        </div>
    </div>
</div>