/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import Url(template/bootstrap.min.css);
@import Url(template/bootstrap.min.css.map);
@import Url(template/paper-dashboard.css);
@import Url(template/paper-dashboard.css.map);
@import Url(template/paper-dashboard.min.css);

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Light.ttf);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*  margin-bottom: 60px;*/
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    font-family: Poppins;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.img-circle-sm {
    border-radius: 50%;
    width: 60%;
}

.img-circle-lg {
    border-radius: 50%;
    width: 80%;
}

.img-circle-100 {
    border-radius: 50%;
}

/*scroll page start*/
/* Style the header: fixed position (always stay at the top) */
.scroll-header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #F4F3EF;
}

/* The progress container (grey background) */
.scroll-container {
    width: 100%;
    height: 5px;
    background: #F4F3EF;
}

/* The progress bar (scroll indicator) */
.scroll-bar {
    height: 5px;
    background: #65D1D4;
    width: 0%;
}
/*scroll page end*/


/* brush size slider start*/
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #65D1D4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #65D1D4;
  cursor: pointer;
}
/* brush size slider end*/



/*color color-sliders start*/
/* RGB title */
span:nth-child(1) {
    color: #ff0000;
}

span:nth-child(2) {
    color: #00ff00;
}

span:nth-child(3) {
    color: #0000ff;
}

.wrap {
    padding: 10px;
    width: 500px;
    margin: 0 auto;
}

/* color display */
#color-display {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #F4F3EF;
}

#color-display::before {
    content: '';
    color: #ffffff;
    text-shadow: 0 0 4px #333333;
}

/* labels */

label {
    padding: 10px;
    width: 50px;
    text-align: center;
    color: #ffffff;
    margin: 4px;
    border-radius: 6px;
    box-shadow: inset 0 0 2px #333333;
}

input[type=number], label {
    display: inline-block;
}

/* number input */
.color-sliders input[type=number] {
    text-align: center;
    width: 50px;
    padding: 10px 0 10px 10px;
    background: #ffffff;
    margin: 0 10px 0 4px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: border 0.2s ease;
    box-shadow: 0 0 2px #333333;
}

.color-sliders input[type=number]:focus {
    border: 2px solid #508cfc;
}

/* color sliders */
.color-sliders {
}

.color-sliders div {
}

/* range color-sliders */
.color-sliders input[type=range] {
    height: 8px;
    border-radius: 10px;
    outline: none;
    width: 100%;
}

.color-sliders input[type=range], input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
}

/* slider thumb */
.color-sliders input[type=range]::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    background: #65D1D4;
}
/*color sliders end*/