@model PTSchool.Web.Models.Club.CollectionClubsFullViewModels

<partial name="_PageNavigatorPartial" model="@Model" />

<div>
    <div class="row">
        @foreach (var club in Model.Clubs)
        {
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="card-header">
                        <p class="card-category">@club.Name</p>
                    </div>
                    <div class="card-body">
                        <a href="@Url.Action("Club", "Clubs", new { id = club.Id })"><img src="@club.Image" class="img-circle-sm" /></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />