@{
    ViewData["Title"] = "Play";
}

<div class="card">
    <div class="card-header">
        <div class="text-center">
            <button class="btn btn-success btn-round" id="buttonStart">START GAME!</button>
        </div>
        <div class="row">
            <div class="col-md-3 text-left">
                <img src="~/images/shooter/gun_5.png" id="myGun" style="display:none" class="d text-left" width="150" height="30" />
            </div>
            <div class="col-md-6">
                <p class="text-center" id="targetsRemaining"></p>
            </div>
            <div class="col-md-3 text-right">
                <img src="~/images/shooter/health_3.png" id="myHealth" style="display:none" class="text-right" width="135" height="30" />
            </div>
        </div>
    </div>
    <div class="card-body text-center">
        <canvas class="border bg-white" id="shooterCanvas"></canvas>
    </div>
</div>
<br />
<br />

<img src="~/images/shooter/enemy.png" id="myImage" width="0" height="0" />
<img src="~/images/shooter/enemy_bang.png" id="myImageBang" width="0" height="0" />

@section Scripts{ 
    <script src="~/js/shooter.js"></script>
}