@model int

@{
    ViewData["Title"] = "NoteApproved";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-success">Your NOTE was submitted successfully!</h1>
    <button class="btn btn-large btn-primary" onclick="window.location='@Url.Action("Student", "Students", new { id = @Model })'">BACK TO STUDENT</button>
  </div>
</div>