@model int

@{
    ViewData["Title"] = "MarkApproved";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-success">Your MARK was submitted successfully!</h1>
    @if (this.TempData["InfoMessage"] != null)
    {
        <div class="alert alert-info">
            @this.TempData["InfoMessage"]
        </div>
    }
    <button class="btn btn-large btn-primary" onclick="window.location='@Url.Action("Student", "Students", new { id = @Model })'">BACK TO STUDENT</button>
  </div>
</div>