@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">About</h5>
                <p class="card-category">Petar Totev</p>
            </div>
            <div class="card-body text-center">
                <img src="/images/petartotev.jpg" class="img-circle-sm" />
                <br />
                <br />
                <blockquote>
                    <p class="blockquote blockquote-primary">
                        Curiosity killed the cat but resurrected a code-loving dog from the ashes of his routines as an architect.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-calendar-60"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Age</p>
                                    <p class="card-title">@(DateTime.UtcNow.Year - DateTime.Parse("1989-11-24").Year)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-refresh"></i>
                            Just the right age.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-diamond"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Repos</p>
                                    <p class="card-title">7</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-refresh"></i>
                            The public ones in GitLab / GitHub.
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--Score-->
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">CV</h5>
                <p class="card-category">Click on the button and download my CV:</p>
            </div>
            <div class="card-body">
                <div class="text-right">
                    <a href="~/documents/PetarTotevResume.pdf" download="PetarTotevResume.pdf" class="btn btn-lg btn-round btn-danger">Download</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Links</h5>
                <p class="card-category">Here you can get additional information on the entity:</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://www.gitlab.com/users/petartotev" target="_blank"><i class="fab fa-gitlab fa-2x"></i></a>
                    </div>
                    <div class="col-md-11 text-primary">
                        <a href="https://www.gitlab.com/users/petartotev" class="text-primary" target="_blank"><p>www.gitlab.com/users/petartotev</p></a>
                    </div>
                </div> <!--GitLab-->
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://gitlab.com/Iva_Pavlova/team9projectplaylistgenerator" target="_blank"><i class="fab fa-gitlab fa-2x"></i></a>
                    </div>
                    <div class="col-md-11 text-primary">
                        <a href="https://gitlab.com/Iva_Pavlova/team9projectplaylistgenerator" class="text-primary" target="_blank"><p class="text-warning">Final Team Project @@ Telerik Academy (a collaboration with Iva Pavlova)</p></a>
                    </div>
                </div> <!--GitLab-->                
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://www.github.com/petartotev" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://www.github.com/petartotev" class="text-primary" target="_blank"><p>www.github.com/petartotev</p></a>
                    </div>
                </div> <!--GitHub-->
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://www.linkedin.com/in/petartotev" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://www.linkedin.com/in/petartotev" class="text-primary" target="_blank"><p>www.linkedin.com/in/petartotev</p></a>
                    </div>
                </div> <!--LinkedIn-->
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://www.petartotev.net" target="_blank"><i class="fas fa-globe fa-2x"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://www.petartotev.net" class="text-primary" target="_blank"><p>www.petartotev.net</p></a>
                    </div>
                </div> <!--Personal website-->

            </div>
        </div>
    </div>
    </div>
</div>
<br />
<br />