@{
    ViewData["Title"] = "EmailSuccess";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Success</h5>
        <p class="card-category">Your email was sent successfully.</p>
    </div>
    <div class="card-body text-center">
        <img src="~/images/gifs/success.gif" width="540" />
        <div class="text-center">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-lg btn-round btn-primary"><i class="nc-icon nc-minimal-left"></i> BACK</a>
        </div>
    </div>
</div>
<br />
<br />