@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome to <strong>PTS</strong>chool!</h1>
    <hr />
    <img class="img-fluid" src="~/images/PTSchool.png" alt="LogoPTSchool" width="450" height="450">
    <hr />
    <h5>This is an <strong>ASP.NET Core (MVC) Web Application</strong> that was created to make information-exchange within a <strong>School</strong> easier.</h5>
    <hr>
    <p>In this platform <strong>Parents</strong>, <strong>Teachers</strong> and <strong>Students</strong> can communicate directly/indirectly - depending on the privacy of the subject.</p>
    <p>Chatting or sending emails between <strong>Student</strong><><strong>Student</strong> | <strong>Student</strong><><strong>Teacher</strong> | <strong>Teacher</strong><><strong>Teacher</strong> | <strong>Parent</strong><><strong>Teacher</strong> is now a piece of cake!</p>
    <hr />
    <!--PT: CACHE IN VIEW-->
    <cache expires-after="TimeSpan.FromSeconds(30)" vary-by-query="id">
        <h4 class="text-dark"><strong>Cache Test <i>(30sec)</i></strong> | <mark>@DateTime.Now</mark></h4>
    </cache>
</div>

<!--PT: OVERRIDES ALL H1-s TO "HELLO"-->
@*@section Scripts {
        <script>
            $("h1").html("Hello, World!");
        </script>
    }*@

<!--Put this function in a button onclick="jsFunctionTest()"-->
<script>
    function jsFunctionTest() {
        alert("You called the helloFunction()!");
    }
</script>

<script>
    function ajaxTest() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                alert("This is an ajaxTest() which makes a new XMLHttpRequest");
                document.getElementById("placeholderElement").innerHTML = this.responseText;
            }
        }
        xhr.open("GET", "/Home/Environment", true);
        xhr.send();
    }
</script>