<!-- PT: AREAS (step 6 - Create new View(Folder) -> Dashboard(Folder) -> Index.cshtml(View)) -->

@{
    ViewData["Title"] = "Index";
}

<h1>Areas -> Admin(folder) -> Dashboard(Controller) -> Index(Action) -> Index.cshtml(View)</h1>

