@{
    ViewData["Title"] = "Busy";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Sorry</h5>
        <p class="card-category">Someone else has just joined this game...</p>
    </div>
    <div class="card-body">
        <div class="text-center"><img src="~/images/gifs/busy.gif" alt="busy-line" height="480" class="img-circle-100"/></div>
        <a class="btn btn-lg btn-round btn-info text-white" onclick="window.location='@Url.Action("Join", "Tictactoe")'"><i class="nc-icon nc-minimal-left"></i> BACK</a>
    </div>
</div>
<br />
<br />